@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "SignalR 2.x";
}

<div class="jumbotron">
    <h1>ASP.NET SignalR 2.x</h1>
    <p class="lead">Demos for SignalR 2.0 and upcoming 2.x releases.</p>
    <p><a href="https://github.com/DamianEdwards/SignalR-2.x-demo" class="btn btn-primary btn-large">Get the code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hub Exceptions</h2>
        <p>
            The new exception type <code>HubException</code> can be thrown inside your hub method to
            provide meaningful error details to your clients, including extra custom data.
        </p>
        <p><a class="btn btn-default" href="HubExceptions/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>